body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#ece5dd;
}

.header{
    background:#128C7E;
    color:white;
    padding:15px;
    font-size:20px;
    font-weight:bold;
}

.chat-box{
    height:70vh;
    padding:10px;
    overflow-y:auto;
}

.input-area{
    display:flex;
    padding:10px;
    background:white;
}

input{
    flex:1;
    padding:10px;
}

button{
    background:#25D366;
    color:white;
    border:none;
    padding:10px 15px;
}
